<connectionStrings>
  <add name="DataContext" connectionString="data source=GVARGASSAP;initial catalog=SBO_LITOGRAFIA;persist security info=True;user id=Reportes;password=Vargas2015;multipleactiveresultsets=True;application name=EntityFramework;Connect Timeout=10000" providerName="System.Data.SqlClient" />
  <add name="DiboContext" connectionString="data source=GVARGASSAP;initial catalog=DIBO-Vargas;user id=Reportes;password=Vargas2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MetricsContext" connectionString="data source=GVARGASMET;initial catalog=MetricsGrupoVargas;user id=landnova;password=LandNova2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
